body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    text-align: center;
    padding-top: 50px;
}

h2 {
    color: #4CAF50;
    font-size: 36px;
}

a {
    font-size: 18px;
    color: #4CAF50;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

a:hover {
    background-color: #4CAF50;
    color: white;
}
